.popup__text {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.2);
  margin-top: 30px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  padding-bottom: 13px;
}

.popup__text:-webkit-autofill
{
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #000;
}