.elements {
  display: grid;
  max-width: 880px;
  grid-template-columns: repeat(3, minmax(282px, 1fr));
  row-gap: 17px;
  column-gap: 20px;
  margin: auto;
  padding-top: 47.25px;
}

@media screen and (max-width: 950px) {
  .elements {
    margin: 0 19px;
    grid-template-columns: repeat(2, minmax(282px, 1fr));
    grid-template-rows: repeat(2, minmax(361px, 1fr));
  }
}

@media screen and (max-width: 650px) {
  .elements {
    grid-template-columns: minmax(282px, 1fr);
    grid-template-rows: minmax(361px, 1fr);
  }
}