.profile__description {
  margin: 16px 0 0 0;
  max-width: 336px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-basis: 100%;
}

@media screen and (max-width: 768px) {
  .profile__description {
    text-align: center;
    max-width: 282px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}