.footer {
  max-width: 880px;
  margin: auto;
  padding-top: 67px;
  padding-bottom: 60px;
}

@media screen and (max-width: 888px) {
  .footer {
    margin: 0 19px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
    padding-bottom: 36px;
  }
}