.profile__editbutton {
  background-image: url('../../../images/EditButton.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
  margin-left: 18px;
  align-self: center;
  outline: none;
}

.profile__editbutton:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .profile__editbutton {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}